<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FilePath" value="E:\Face" />
    <add key="DisplayMode" value="Single" />
<!--    代表单张照片按照随机路劲展示，那么后面设置的PictureCount无效。-->
<!--    <add key="DisplayMode" value="Multiple" />-->
<!--    代表多张照片出现并展示，照片按照随机路径在界面移动，照片张数为PictureCount。-->
<!--    <add key="DisplayMode" value="Random" />-->
<!--    代表随机出现照片，按照设置照片张数依次随机出现在随机位置，照片张数为PictureCount，每张照片间隔时间为SwitchTime-->
    <add key="PicturesCount" value="50" />
    <add key="SwitchTime" value="3" />
  </appSettings>
</configuration>