<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FilePath" value="F:\face pic\海康整理后图片" />    
    <add key="DisplayMode" value="Sequence" />
    <!--Single代表单张照片按照随机路劲展示，那么后面设置的PictureCount无效。-->
    <!--Sequence代表单张照片按照顺序路劲展示，那么后面设置的PictureCount无效。-->
    <!--<add key="DisplayMode" value="Multiple" />-->
    <add key="PicturesCount" value="10" />
    <!--Multiple代表多张照片出现并展示，照片按照随机路径在界面移动，照片张数为PictureCount。-->
    <!--<add key="DisplayMode" value="Multiple" />-->
    <!--Multiple代表随机出现照片，按照设置照片张数依次随机出现在随机位置，照片张数为PictureCount，每张照片间隔时间为SwitchTime.-->
    <add key="DisplayTimes" value="20" />
    <!--代表图片显示次数-->
    <add key="IntervalTime" value="2" />
    <!--代表每种图片出现的间隔时间，单位秒(s)-->
  </appSettings>
</configuration>